# Database
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/nukezone_reborn?schema=public"

# NextAuth
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# OAuth Providers
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# WebSocket Server
NEXT_PUBLIC_WEBSOCKET_URL="http://localhost:3001"
WEBSOCKET_INTERNAL_SECRET=""

# Game Config
GAME_TICK_INTERVAL_MS=5000
